<h1 class="h1">{{m}}</h1>

<div class="container">
  <div class="row">
    <div class="col-xl-3">
      <input
        class="form-control"
        type="text"
        placeholder="Nombre del producto"
        ng-model="search"
        list="nombresProductos"
        required
      />
      <datalist id="nombresProductos">
        <option
          ng-repeat="x in productos | filter:search"
          value="{{x.idProducto}}|{{x.nombre}}"
        ></option>
      </datalist>
    </div>
    <div class="col-xl-2">
      <button
        type="button"
        class="btn btn-secondary"
        ng-click="Agregar(this.search)"
      >
        Agregar<i class="fas fa-plus ml-1"></i>
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xl-5">
      <div class="form-group">
        <label for="clienteInput">Cliente al que será vendido (opcional)</label>
        <input
          class="form-control"
          type="text"
          placeholder="Nombre del cliente"
          ng-model="search1"
          list="nombresClientes"
          required
        />
        <datalist id="nombresClientes">
          <option
            ng-repeat="cliente in clientes | filter:search1"
            value="{{cliente.idCliente}}|{{cliente.nombre + ' '+ cliente.apellidoPaterno+' '+ cliente.apellidoMaterno}}"
          ></option>
        </datalist>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4 text-center">
  <div class="row">
    <div class="col-xl-12">
      <div class="alert alert-dismissible alert-danger" ng-show="listavacia">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
        <strong>Error!</strong> la lista de productos está vacía.
      </div>
      <div
        class="alert alert-dismissible alert-success"
        ng-show="ventaAgregada"
      >
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
        <strong>Well done!</strong> You successfully read
        <a href="#" class="alert-link">this important alert message</a>.
      </div>
    </div>
    <div class="col-xl-5">
      <table class="table text-center table-striped table-hover">
        <thead class="thead bg-info text-white">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="y in lista">
            <th>{{y.nombre}}</th>
            <th>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm"
                  ng-click="disminuir(this.y.idProducto)"
                >
                  <i class="fas fa-minus text-white"></i>
                </button>
                <label class="ml-2 mr-2">{{y.cantidad}}</label>
                <button
                  type="button"
                  class="btn btn-secondary btn-sm"
                  ng-click="aumentar(this.y.idProducto)"
                >
                  <i class="fas fa-plus text-white"></i>
                </button>
              </div>
            </th>
            <th>{{ y.precio * y.cantidad}}</th>
            <th>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                ng-click="Eliminar(this.y.idProducto)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </th>
          </tr>
          <tr>
            <th colspan="2">Total:</th>
            <th colspan="2">{{total}}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-2">
      <button type="button" class="btn btn-success" ng-click="Enviar(this)">
        Comprar<i class="fas fa-shopping-cart ml-1"></i>
      </button>
    </div>
  </div>
</div>
