<h1 class="h1">{{titulo}}
     <i class="fas fa-user-plus ml-3" ng-show="altas"></i>
</h1>

<div class="container-fluid">
    <label class="control-label">Selecciona una opción:</label>
    <form class="row border border-info text-center">
        <label class="col-xl-6 mt-1 mb-1">
            <input type="radio" ng-model="opcion.name" value="alta" ng-click="elegirOpcion('alta')">
            Altas
        </label><br />
        <label class="col-xl-6 mt-1 mb-1">
            <input type="radio" ng-model="opcion.name" value="baja" ng-click="elegirOpcion('verCte')">
            Ver Clientes
        </label><br />
    </form>
    <div class="alert alert-dismissible alert-success mt-3" ng-show="res">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Exito!</strong> Se agrego el registro <a href="#" class="alert-link">correctamente</a>.
    </div>
    <form class="well form-horizontal pt-4 pb-4" ng-show="altas" ng-submit="Enviar()">
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Nombre:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.nombre" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Apellido Paterno:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.apellidoPaterno" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Apellido Materno:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.apellidoMaterno"  class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Correo:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.correo"  class="form-control" type="email" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Código Postal:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.cp"  class="form-control" type="number" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Número:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.numero"  class="form-control" type="number" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Calle:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.calle"  class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Sangre:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.sangre" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Estatura (metros):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.estatura" class="form-control" type="number" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4"></div>
            <div class="col-xl-4 pt-4">
                <button type="submit" class="btn btn-info btn-block" >Enviar</button>

            </div>
            <div class="col-xl-4"></div>
        </div>
    </form>
</div>

</div><!-- /.container -->