<h1 class="h1">{{titulo}}</h1>

<div class="container-fluid">
    <label class="control-label">Selecciona una opción:</label>
    <form class="row border border-info text-center">
        <label class="col-xl-6 mt-1 mb-1">
            <input type="radio" ng-model="opcion.name" value="alta" ng-click="elegirOpcion('alta')">
            Altas
        </label><br />
        <label class="col-xl-6 mt-1 mb-1">
            <input type="radio" ng-model="opcion.name" value="baja" ng-click="elegirOpcion('verCte')">
            Ver Clientes
        </label><br />
    </form>
    <div class="alert alert-dismissible alert-success mt-3" ng-show="res">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>!Éxito!</strong> Se agregó el registro <a href="#" class="alert-link">correctamente</a>.
    </div>
    <form class="well form-horizontal pt-4 pb-4" ng-show="altas" ng-submit="Enviar()">
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Nombre:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.nombre" class="form-control" type="text" maxlength="40" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Primer Apellido:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.apellidoPaterno" class="form-control" type="text" maxlength="40"  required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Segundo Apellido:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.apellidoMaterno"  class="form-control" type="text" maxlength="40">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Correo:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.correo"  class="form-control" type="email" maxlength="45" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Teléfono:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.telefono"  class="form-control" type="text" maxlength="9999999999" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Código Postal:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.cp"  class="form-control" type="number" max=99999 min=0 required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="form-group">
                    <label class="control-label">Calle:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.calle"  class="form-control" type="text" maxlength="40"  required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1">
                <div class="form-group">
                    <label class="control-label">Número:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.numero"  class="form-control" type="number" maxlength="5" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Tipo de Sangre:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.sangre" class="form-control" type="text" maxlength="5" required>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Estatura (cm):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.estatura" class="form-control" type="number" min=0 step="0.01" max=2 required>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-xl-4 pt-4">
                <button type="submit" class="btn btn-info btn-block" >Enviar</button>

            </div>
            <div class="col-xl-4"></div>
        </div>
    </form>
</div>

</div><!-- /.container -->