<h1 class="h1">{{m}}</h1>
<div class="alert alert-dismissible alert-success mt-3" ng-show="res">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Exito!</strong> Se agrego el expediente <a href="#" class="alert-link">correctamente</a>.
</div>
<div class="container-fluid">
    <form class="well form-horizontal pt-4 pb-4"  ng-submit="EnviarExp()">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label class="control-label">Dolor de Cabeza:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.dolorCabeza"
                                ng-click="verificarDolorDeCabeza()">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12" ng-show="dolordecabeza">
                <div class="form-group">
                    <label class="control-label">Medicamento:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.medicamentoDC"
                                ng-click="verificarMedicamento()">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="Medicamento">
                <div class="form-group">
                    <label class="control-label">Nombre del Medicamento:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="datos.nombreMedicamentoDC" class="form-control" type="text" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="Medicamento">
                <div class="form-group">
                    <label class="control-label">Finalidad:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.finMedicamentoDC" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="Medicamento">
                <div class="form-group">
                    <label class="control-label">Anticonceptivo:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.anticonceptivo" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Sobrepeso:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.sobrepeso">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Diabetes:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.diabetes" >
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Cancer:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.cancer">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Hipertencion:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.hipertension">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Cardiovascular:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.cardiovascular">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group">
                    <label class="control-label">Actividad Fisica:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.actividadFisica"
                                ng-click="verificarActividadFisica()">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="actividadfisica">
                <div class="form-group">
                    <label class="control-label">Tipo:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.tipoAF" class="form-control" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="actividadfisica">
                <div class="form-group">
                    <label class="control-label">Frecuencia:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.frecuenciaAF" class="form-control" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="actividadfisica">
                <div class="form-group">
                    <label class="control-label">Tiempo:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.tiempoAF" class="form-control" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Adiccion:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.adiccion" class="form-control" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Comida:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.comida">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group">
                    <label class="control-label">Estres:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.estres" ng-click="verificarEstres()">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="Estres">
                <div class="form-group">
                    <label class="control-label">Forma de Alimentacion:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.formaAlimentacion" class="form-control" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Edad Sobrepeso:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="datos.edadSobrepeso" class="form-control" type="number">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Evento relacionado:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.eventoRelacionado" class="form-control" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Motivo Reduccion:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.motivoReduccion" class="form-control" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Familia:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.familia">
                                    <option value="1">SI</option>
                                    <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Peso deseado:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="datos.pesoDeseado" class="form-control" type="number" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4"></div>
            <div class="col-xl-4 pt-4">
                <button type="submit" class="btn btn-info btn-block">Enviar</button>
            </div>
            <div class="col-xl-4"></div>
        </div>
    </form>
</div>