<h1 class="h1">{{m}}</h1>
<div class="alert alert-dismissible alert-success mt-3" ng-show="res">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>¡Éxito!</strong> Se agregó el expediente <a href="#" class="alert-link">correctamente</a>.
</div>
<div class="container-fluid">
    <form class="well form-horizontal pt-4 pb-4"  ng-submit="EnviarExp()">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group">
                    <label class="control-label">Tiene dolor de cabeza frecuentemente:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.dolorCabeza"
                                ng-click="verificarDolorDeCabeza()">
                                <option value="1">SÍ</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group">
                    <label class="control-label">Toma algún medicamento:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.medicamentoDC"
                                ng-click="verificarMedicamento()">
                                <option value="1">SÍ</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="Medicamento">
                <div class="form-group">
                    <label class="control-label">Cuál es:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="datos.nombreMedicamentoDC" class="form-control" maxlength="45" type="text" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="Medicamento">
                <div class="form-group">
                    <label class="control-label">Finalalidad del medicamento:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.finMedicamentoDC" class="form-control" maxlength="45"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="Medicamento">
                <div class="form-group">
                    <label class="control-label">Anticonceptivo:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.anticonceptivo" class="form-control" maxlength="45"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <label>Usted o algun familiar padece de:</label><br>

            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Sobrepeso:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.sobrepeso">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Diabetes:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.diabetes" >
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Cáncer:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.cancer">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Hipertención:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.hipertension">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Cardiovascular:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.cardiovascular">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group">
                    <label class="control-label">Realiza algún tipo de Actividad Física:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.actividadFisica"
                                ng-click="verificarActividadFisica()">
                                <option value="1">SÍ</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="actividadfisica">
                <div class="form-group">
                    <label class="control-label">De qué Tipo:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.tipoAF" class="form-control" maxlength="40" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="actividadfisica">
                <div class="form-group">
                    <label class="control-label">Frecuencia:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.frecuenciaAF" class="form-control" maxlength="40" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="actividadfisica">
                <div class="form-group">
                    <label class="control-label">Tiempo dedicado:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.tiempoAF" class="form-control" maxlength="40" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Consume regularmente alcohol o café:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.adiccion" class="form-control" maxlength="40" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Come a sus horas:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.comida">
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group">
                    <label class="control-label">Esta bajo Estrés:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.estres" ng-click="verificarEstres()">
                                <option value="1">SÍ</option>
                                <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" ng-show="Estres">
                <div class="form-group">
                    <label class="control-label">Afecta en su Forma de Alimentación:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.formaAlimentacion" class="form-control" maxlength="45" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">A qué Edad inicio su Sobrepeso:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="datos.edadSobrepeso" class="form-control" type="text" maxlength="38">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Lo realaciona con algún evento:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.eventoRelacionado" class="form-control" maxlength="65" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Por qué desea la reducción de peso:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <textarea ng-model="datos.motivoReduccion" class="form-control" maxlength="90" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Tiene apoyo de su Familia:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="multipleSelect" ng-model="datos.familia">
                                    <option value="1">SI</option>
                                    <option value="0">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Cuál es su Peso deseado:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="datos.pesoDeseado" class="form-control" type="number" min=0 step="0.1" max=100>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4"></div>
            <div class="col-xl-4 pt-4">
                <button type="submit" class="btn btn-info btn-block">Enviar</button>
            </div>
            <div class="col-xl-4"></div>
        </div>
    </form>
</div>