<h1 class="h1">{{titulo}}</h1>

<div class="container">
    <div class="row">
        <div class="col-xl-2">
            <button class="btn btn-success mb-3" ng-click="return()">Regresar<i class="fas fa-undo ml-3"></i></button>
        </div>
        <div class="col-xl-10">
            <form class="row border border-info text-center">
                <label class="col-xl-6 mt-1 mb-1">
                    <input type="radio" ng-model="opcion.name" value="detalle" ng-click="elegirOpcion('detalle')">
                    Detalles
                </label><br />
                <label class="col-xl-6 mt-1 mb-1">
                    <input type="radio" ng-model="opcion.name" value="filtro" ng-click="elegirOpcion('filtro')">
                    Filtrar
                </label><br />
            </form>
        </div>
    </div>
    
    <div class="form-group col-xl-6">
        <input type="text" class="form-control" placeholder="Buscar" ng-model="buscador">
    </div>
    <table class="table text-center table-striped table-hover" ng-show="detalle">
        <thead class="thead bg-info text-white">
            <tr>
                <th scope="col">ID Usuario</th>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">ID Dirección</th>
                <th scope="col">ID Cliente</th>
                <th scope="col">Ver más</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in users | filter:buscador">
                <th scope="row">{{x.idUsuario}}</th>
                <td>{{x.nombre + ' '+ x.apellidoPaterno+' '+ x.apellidoMaterno}}</td>
                <td>{{x.correo}}</td>
                <td scope="row">{{x.idDireccion}}</td>
                <td scope="row">{{x.idCliente}}</td>
                <td><button class="btn btn-primary" ng-click="Detalles(this)">Detalles</button></td>
            </tr>

        </tbody>
    </table>

    <table class="table text-center table-striped table-hover" ng-show="filtro">
            <thead class="thead bg-info text-white">
                <tr>
                    <th scope="col">ID Usuario</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">ID Dirección</th>
                    <th scope="col">ID Cliente</th>
                    <th scope="col">Días Atrasados</th>
    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in filtroFechas">
                    <th scope="row">{{x.idUsuario}}</th>
                    <td>{{x.nombreCompleto}}</td>
                    <td>{{x.correo}}</td>
                    <td scope="row">{{x.idDireccion}}</td>
                    <td scope="row">{{x.idCliente}}</td>
                    <td>{{x.diasAtrasados}}</td>
                </tr>
    
            </tbody>
        </table>
</div>