<h1 class="h1">{{titulo}}
    <i class="fas fa-user ml-3"></i>
</h1>

<div class="container">
    <table class="table text-center table-striped table-hover">
        <thead class="thead bg-info text-white">
            <tr>
                <th scope="col">ID Cliente</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Apellido Materno</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Modificar</th>
                <th scope="col">Borrar</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Juan</td>
                <td>El vergas</td>
                <td>Cornejo</td>
                <td>Juan100_americ@hotmail.com</td>
                <td><button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button></td>
                <td><button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
           
        </tbody>
    </table>
</div>