<section class="section-1 mt-4">
        <div class="jumbotron d-flex align-items-center">
            <div class="gradient"></div>
            <div class="container-fluid content">
                <img src="img/logo.jpg" data-aos="fade-up">
                <h1 data-aos="fade-up" data-aos-delay="100">Bienvenido</h1>
                <h2 data-aos="fade-up" data-aos-delay="300">al sistema de nutrición</h2>
                <h4 data-aos="fade-up" data-aos-delay="600">Comer es una necesidad, pero comer de forma inteligente es un arte</h4>
            </div>
            <!--container-fluid end-->
        </div>
</section>