<h1 class="h1">{{m}}</h1>


<div class="container-fluid">
    <div class="alert alert-dismissible alert-success mt-3" ng-show="res">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Exito!</strong> Se agrego el registro <a href="#" class="alert-link">correctamente</a>.
    </div>
    <form class="well form-horizontal pt-4 pb-4"  ng-submit="Enviar()">
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Nombre:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.nombre" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Apellido Paterno:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.apellidoPaterno" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Apellido Materno:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.apellidoMaterno"  class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Correo:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.correo"  class="form-control" type="email" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Código Postal:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.cp"  class="form-control" type="number" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Número:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.numero"  class="form-control" type="number" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Calle:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.calle"  class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">NSS:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.nss" class="form-control" type="number" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Puesto:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.puesto" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Cedula Profesional: (opcional)</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.cedula" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Area:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.area" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Descripcion del puesto y/o <br> Actividades a Realizar (Opcional):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.descripcion" class="form-control" type="text" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Horario Inicio:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.horarioInicio" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Horario Termino:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.horarioTermino" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 pt-4">
                <button type="submit" class="btn btn-info btn-block" >Enviar</button>
            </div>
        </div>
    </form>
</div>

</div>