<h1 class="h1">{{m}}</h1>


<div class="container-fluid">
    <form class="row text-center">
        <label class="col-xl-6 mt-1 mb-1 text-center">
            <button class="btn btn-secondary btn-block"  ng-click="elegirOpcion('verEmp')">Ver Empleados<i class="fas fa-user ml-3"></i></button>
        </label><br />
    </form>
    <div class="alert alert-dismissible alert-success mt-3" ng-show="res">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Éxito!</strong> Se agregó el registro <a href="#" class="alert-link">correctamente</a>.
    </div>
    <form class="well form-horizontal pt-4 pb-4"  ng-submit="Enviar()" ng-show="altas">
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Nombre:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.nombre" class="form-control" type="text" maxlength="40" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Primer Apellido:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.apellidoPaterno" class="form-control" type="text" maxlength="40" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Segundo Apellido:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.apellidoMaterno"  class="form-control" type="text" maxlength="40">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Correo:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.correo"  class="form-control" type="email" maxlength="45" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Teléfono:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.telefono"  class="form-control" type="number" maxlength="9999999999" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Código Postal:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.cp"  class="form-control" type="number" max=99999 min=0 required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="form-group">
                    <label class="control-label">Calle:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.calle"  class="form-control" type="text" maxlength="40"  required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1">
                <div class="form-group">
                    <label class="control-label">Número:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.numero"  class="form-control" type="number" maxlength="5" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">NSS:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.nss" class="form-control" type="number" maxlength="40" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Puesto:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.puesto" class="form-control" maxlength="40" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Cédula Profesional: (opcional)</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.noCedula" class="form-control" maxlength="40" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Área:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.area" class="form-control" type="text" maxlength="40" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Descripción del puesto y/o <br> Actividades a Realizar (Opcional):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="valores.descripcion" class="form-control" maxlength="40" type="text" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Horario Inicio:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input  id="horarioInicio" class="form-control" type="time" maxlength="40" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Horario Término:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="time" class="form-control" id="horarioTermino" name="input" 
                            placeholder="HH:mm" min="00:00" max="23:59" maxlength="40" required />                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 pt-4">
                <button type="submit" class="btn btn-info btn-block" >Enviar</button>
            </div>
        </div>
    </form>
</div>

</div>