<h1 class="h1">{{m}}</h1>
<div class="alert alert-dismissible alert-success mt-3" ng-show="res">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Éxito!</strong> Se agregó el registro <a href="#" class="alert-link">correctamente</a>.
    </div>
<div class="container">
    <form class="row text-center">
        <label class="col-xl-6 mt-1 mb-1 text-center">
            <button class="btn btn-secondary btn-block"  ng-click="Accion('ver')">Ver Consultas<i class="fas fa-address-book ml-3"></i></button>
            
        </label><br />
    </form>
    <form class="well form-horizontal pt-4 pb-4" ng-submit="Enviar(this)" ng-show="RegistrarConsultas"> 
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Nombre de Cliente:</label>
                    <input class="form-control" type="text" ng-change="cambio(search1)" ng-model="search1" list="nombresCTE" id="clean" required>
                    <datalist id="nombresCTE" >
                        <option ng-repeat="x in clientes | filter:search1"
                            value="{{x.idCliente}}|{{x.nombre + ' '+ x.apellidoPaterno+' '+ x.apellidoMaterno}}">
                        </option>
                    </datalist>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Nombre de Empleado:</label>
                    <input class="form-control" type="text" ng-model="search2" list="nombresEMP" id="clean2" required>
                    <datalist id="nombresEMP">
                        <option ng-repeat="x in empleados | filter:search2"
                            value="{{x.idEmpleado}}|{{x.nombre + ' '+ x.apellidoPaterno+' '+ x.apellidoMaterno}}">
                        </option>
                    </datalist>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Peso (kg):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input ng-model="valores.peso" class="form-control" type="decimal" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Estatura (cm):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input ng-model="valores.talla" class="form-control" type="decimal" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Cadera (cm):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input ng-model="valores.cadera" class="form-control" type="decimal" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Cintura (cm):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input ng-model="valores.cintura" class="form-control" type="decimal" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Observaciones:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <textarea ng-model="valores.observaciones" class="form-control" type="text"
                            maxlength="200" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4"></div>
            <div class="col-xl-4 text-center">
                <button type="submit" class="btn btn-info btn-block">Enviar</button>
            </div>
        </div>
    </form>
    <h3>Consultas anteriores</h3>
    <table class="table text-center table-striped table-hover">
        <thead class="thead bg-info text-white">
            <tr>
                <th scope="col">Peso</th>
                <th scope="col">Cadera</th>
                <th scope="col">Cintura</th>
                <th scope="col">Estatura</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Fecha de Cita</th>
                <th scope="col">Hora</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in consultas">
                <form class="well form-horizontal pt-4 pb-4" ng-show="RegistrarConsultas">
                    <td scope="col">
                        <spam ng-hide="input">{{x.peso}}</spam>
                        <input class="form-control" type="text"  maxlength="3" ng-model="x.peso" value="{{x.peso}}" ng-show="input"> 
                    </td>
                    <td scope="col">
                        <spam ng-hide="input">{{x.cadera}}</spam> 
                        <input class="form-control" type="text"  maxlength="3" ng-model="x.cadera" value={{x.cadera}} ng-show="input"> 
                    </td>
                    <td scope="col">
                        <spam ng-hide="input">{{x.cintura}}</spam>
                        <input class="form-control" type="text"  maxlength="3" ng-model="x.cintura" value={{x.cintura}} ng-show="input"> 
                    </td>
                    <td scope="col">{{x.talla}}</td>
                    <td scope="col">{{x.observaciones}}</td>
                    <td scope="col">{{x.fecha}}</td>
                    <td scope="col">{{x.hora}}</td>
                    <td hidden>{{x.idDatos_consulta}}</td>
                </form>
            </tr>
        </tbody>
    </table>
</div>