<h1 class="h1">{{m}}</h1>
<div class="alert alert-dismissible alert-success mt-3" ng-show="res">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Éxito!</strong> Se agregó el registro <a href="#" class="alert-link">correctamente</a>.
    </div>
<div class="container">
    <form class="row text-center">
        <label class="col-xl-6 mt-1 mb-1 text-center">
            <button class="btn btn-secondary btn-block"  ng-click="Accion('ver')">Ver Consultas<i class="fas fa-address-book ml-3"></i></button>
            
        </label><br />
    </form>
    <form class="well form-horizontal pt-4 pb-4" ng-submit="Enviar(this)" ng-show="RegistrarConsultas"> 
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Nombre de Cliente:</label>
                    <input class="form-control" type="text" ng-model="search1" list="nombresCTE" id="clean" required>
                    <datalist id="nombresCTE">
                        <option ng-repeat="x in clientes | filter:search1"
                            value="{{x.idCliente}}|{{x.nombre + ' '+ x.apellidoPaterno+' '+ x.apellidoMaterno}}">
                        </option>
                    </datalist>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Nombre de Empleado:</label>
                    <input class="form-control" type="text" ng-model="search2" list="nombresEMP" id="clean2" required>
                    <datalist id="nombresEMP">
                        <option ng-repeat="x in empleados | filter:search2"
                            value="{{x.idEmpleado}}|{{x.nombre + ' '+ x.apellidoPaterno+' '+ x.apellidoMaterno}}">
                        </option>
                    </datalist>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Peso (kg):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input ng-model="valores.peso" class="form-control" type="number" min="0" max="250" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Estatura (cm):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input ng-model="valores.talla" class="form-control" type="number" min="0" max="300" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Cadera (cm):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input ng-model="valores.cadera" class="form-control" type="number" min="0" max="200" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Cintura (cm):</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input ng-model="valores.cintura" class="form-control" type="number" min="0" max="200" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label class="control-label">Observaciones:</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <textarea ng-model="valores.observaciones" class="form-control" type="text"
                            maxlength="200" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4"></div>
            <div class="col-xl-4 text-center">
                <button type="submit" class="btn btn-info btn-block">Enviar</button>
            </div>
        </div>
    </form>
</div>