<h1 class="h1">{{m}}</h1>
<h3 class="h3 text-center text-success">Cliente: {{nombre}}</h3>
<div class="container">
        <button class="btn btn-success mb-3" ng-click="return()">Regresar<i class="fas fa-undo ml-3"></i></button>
        <table class="table text-center table-striped table-hover">
            <thead class="thead bg-info text-white">
                <tr>
                    <th scope="col">Peso</th>
                    <th scope="col">Talla</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Fecha de Cita</th>
                    <th scope="col">Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in consultas">
                    <td scope="row">{{x.peso}}</td>
                    <td scope="row">{{x.talla}}</td>
                    <td scope="row">{{x.observaciones}}</td>
                    <td>{{x.fecha}}</td>
                    <td>{{x.hora}}</td>
                </tr>
               
            </tbody>
        </table>
    </div>