<h1 class="h1">{{m}}</h1>
<h3 class="h3 text-center text-success">Cliente: {{nombre}}</h3>
<div class="container">
        <button class="btn btn-success mb-3" ng-click="return()">Regresar<i class="fas fa-undo ml-3"></i></button>
        <div class="col-sm-12" ng-if="exito">
            <div class="alert alert-success alert-dismissible">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>
                    Informacion actualizada exitosamente
                </p>
            </div>
        </div>
        <table class="table text-center table-striped table-hover">
            <thead class="thead bg-info text-white">
                <tr>
                    <th scope="col">Peso</th>
                    <th scope="col">Cadera</th>
                    <th scope="col">Cintura</th>
                    <th scope="col">Estatura</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Fecha de Cita</th>
                    <th scope="col">Hora</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in consultas">
                    <form class="well form-horizontal pt-4 pb-4" ng-show="RegistrarConsultas">
                        <td scope="col">
                            <input class="form-control" type="text"  maxlength="3" ng-model="x.peso" value="{{x.peso}}"> 
                        </td>
                        <td scope="col">
                            <input class="form-control" type="text"  maxlength="3" ng-model="x.cadera" value={{x.cadera}}> 
                        </td>
                        <td scope="col">
                            <input class="form-control" type="text"  maxlength="3" ng-model="x.cintura" value={{x.cintura}}> 
                        </td>
                        <td scope="col">{{x.talla}}</td>
                        <td scope="col">{{x.observaciones}}</td>
                        <td scope="col">{{x.fecha}}</td>
                        <td scope="col">{{x.hora}}</td>
                        <td hidden>{{x.idDatos_consulta}}</td>
                        <td scope="col">
                            <button type="submit" ng-click="Enviar(this)" class="btn btn-info btn-block">Guardar</button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>